
@font-face {
    font-family: 'Maison Neue';
    src: url('../fonts/MaisonNeue-Bold.eot');
    src: url('../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
        url('../fonts/MaisonNeue-Bold.woff') format('woff'),
        url('../fonts/MaisonNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Styrene A';
    src: url('../fonts/StyreneA-Regular.eot');
    src: url('../fonts/StyreneA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StyreneA-Regular.woff2') format('woff2'),
        url('../fonts/StyreneA-Regular.woff') format('woff'),
        url('../fonts/StyreneA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeubauGrotesk';
    src: url('../fonts/NeubauGrotesk-Sch.eot');
    src: url('../fonts/NeubauGrotesk-Sch.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeubauGrotesk-Sch.woff2') format('woff2'),
        url('../fonts/NeubauGrotesk-Sch.woff') format('woff'),
        url('../fonts/NeubauGrotesk-Sch.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../fonts/MaisonNeue-Book.eot');
    src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('../fonts/MaisonNeue-Book.woff') format('woff'),
        url('../fonts/MaisonNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

